<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>


    <body>
        <%- include('../includes/nav.ejs') %>
            <%- include('../includes/hero.ejs') %>

                <!-- Begin List Posts
	================================================== -->
                <section class="recent-posts">
                    <div class="section-title">
                        <h2><span>
                            <a href="/admin/add_post" style="color:black; "><i class="fa fa-plus-circle" aria-hidden="true" style="margin-right: 10px"></i>Add a new post</a>
                        </span></h2>

                    </div>
                    <div class="card-columns listrecent">

                        <!-- begin post -->

                        <% for (let blog of blogs) {%>
                            <div class="card">
                                <a href="/post/<%= blog.id %>  ">
                                <img class="img-fluid" src="<%= blog.imageURL %>" alt="">
                            </a>
                                <div class="card-block">
                                    <h2 class="card-title">
                                        <a href="/post/<%= blog.id %>  ">
                                            <%= blog.title %>
                                        </a>
                                    </h2>
                                    <div class="card-text">
                                        <% var article = blog.article%>
                                            <%- article %>
                                    </div>
                                    <div class="metafooter">
                                        <div class="wrapfooter" id="action-btn">
                                            <form action="/admin/delete/<%= blog.id %>" method="post" class="delete">
                                                <a href="/admin/edit/<%= blog.id %> ">
                                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                                </a>
                                                <button type="submit">
                                                    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <!-- end post -->


                    </div>
                </section>
                <!-- End List Posts
	================================================== -->

                <%- include('../includes/footer.ejs') %>
    </body>

</html>